<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
<app-navigation></app-navigation>
<router-outlet></router-outlet>
    <div class="container">
        <br>
        <br>
        <hr>
        <div class="text-center">
            <a style="color: inherit" ><i class=""></i></a>
        </div>


        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            © Contact Us :
            <a href="https://www.linkedin.com/in/dhrumil-joshi-163b791a9?trk=people-guest_people_search-card"> OurNest </a>
        </div>
        <!--/.Copyright-->
    </div>
</div>
